

/* The Modal (background) */
.modal {
  display: none;
  position: fixed;
  top: 30%;
  left: 10%;
  z-index: 1; 
  box-sizing: border-box;
  padding-top: 1rem;
  width: 80%;
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  border-radius: 15px;
}

/* Modal Content */
.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  border-radius: 15px;
  font-family: 'Redressed', cursive;
  font-size: 20px;
  margin: 8px;
  min-height: 80%;
}

.close {
  position: absolute;
  top: 0;
  right: 5px;
  font-size: 30px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}